<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Consultor COVID-19</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #RegisterForm="ngForm" (ngSubmit)="onSubmit(RegisterForm)">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Fiebre: {{fiebre}}</ion-label>
        <ion-range min="0" max="3" step="1" value="0" (ionChange)="calculateFiebre($event)" snaps color="danger">
          <ion-icon slot="start" size="small" color="danger" name="thermometer"></ion-icon>
          <ion-icon slot="end" color="danger" name="thermometer"></ion-icon>
        </ion-range>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Dificultad para Respirar: {{dificultadRespirar}}</ion-label>
        <ion-range min="0" max="3" step="1" value="0" (ionChange)="calculateDR($event)" snaps color="primary">
          <ion-icon slot="start" size="small" color="primary" name="barcode-outline"></ion-icon>
          <ion-icon slot="end" color="primary" name="barcode-outline"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Tos: {{tos}}</ion-label>
        <ion-range min="0" max="3" step="1" value="0" (ionChange)="calculateTos($event)" snaps color="primary">
          <ion-icon slot="start" size="small" color="primary" name="sad-outline"></ion-icon>
          <ion-icon slot="end" color="primary" name="sad-outline"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Dolor de garganta: {{garganta}}</ion-label>
        <ion-range min="0" max="3" step="1" value="0" (ionChange)="calculateDG($event)" snaps color="primary">
          <ion-icon slot="start" size="small" color="primary" name="flash-outline"></ion-icon>
          <ion-icon slot="end" color="primary" name="flash-outline"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Estornudos: {{estornudos}}</ion-label>
        <ion-range min="0" max="3" step="1" value="0" (ionChange)="calculateEstornudos($event)" snaps color="primary">
          <ion-icon slot="start" size="small" color="primary" name="bonfire-outline"></ion-icon>
          <ion-icon slot="end" color="primary" name="bonfire-outline"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Dolor de cuerpo: {{dolorCuerpo}}</ion-label>
        <ion-range min="0" max="3" step="1" value="0" (ionChange)="calculateDC($event)" snaps color="danger">
          <ion-icon slot="start" size="small" color="danger" name="body-outline"></ion-icon>
          <ion-icon slot="end" color="danger" name="body-outline"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Mucosidad: {{mucosidad}}</ion-label>
        <ion-range min="0" max="3" step="1" value="0" (ionChange)="calculateMucosidad($event)" snaps color="success">
          <ion-icon slot="start" size="small" color="success" name="water-outline"></ion-icon>
          <ion-icon slot="end" color="success" name="water-outline"></ion-icon>
        </ion-range>
      </ion-item>
    </ion-list>
    <ion-button color="primary" type="submit">Entrar</ion-button>
  </form>
</ion-content>
